body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
height:50px;
width: 100%;
background-color: brown;
text-align: right;
padding-top: 45px;
font-size:1.4em;
font-weight: 400;
text-decoration: none;  
}

nav a{
  text-decoration: none;  
}
.active{
  color: aqua;
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
 
}
